@font-face{
    font-family:  nanumGothic;
    src: url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400,700&display=swap&subset=korean');
}
body {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: nanumGothic;
}
/* navigator bootstrap으로 항상 맨 위에 뜨게 하기 */
a:link {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
    text-decoration: none;
}
.navigator{
    padding: 2rem 10%;
    position:fixed;
    background: white;
    width: 80%;
    z-index: 100;
}
.nav-header {
    width: 20%;
    text-align: left;
    display: inline-block;
}
.nav-scroller {
    width: 80%;
    text-align: right;
    display: inline-block;
}
.nav-scroller * {
    padding: 0 1rem;
}