.contact {
    padding: 4rem 4rem;
    background-color: lightgray;
}
.contact-link-wrapper {
    width: fit-content;
    margin: 2rem auto 1rem auto;
}
.contact-link {
    margin: auto 1rem;
}
.contact-logo {
    width: 3rem;
    height: 3rem;
}
.contact-content-wrapper {
    width: fit-content;
    margin: 2rem auto 0 auto;
    text-align: center;
}
.contact-content {
    margin: 1rem auto;
    text-align: center;
    
}
.contact-content span{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 0  1rem;
}

.contact-copyright {
    text-align: center;
}
h1 {
    text-align: center;
}